/*Styling for Footer*/
footer {
  padding: 15px;
  margin-top: 50px;
  display: flex!important;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #101c1e;
}

.bottom li{
  list-style: none;
  padding: 5px;
}

.socials{
  margin-left: 20px;
}

.socials ul{
  display: flex;
}

.socials img{
  width: 40px;
}

.names{
  text-align: end;
  margin-right: 20px;
  font-family: 'Zen Dots', cursive, sans-serif;
}

.names a:hover{
  color: #D92A1A!important;
}

#left-side{
  display: flex!important;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 550px) {
  footer{
    justify-content: space-evenly;
  }

  .names{
    text-align: center;
  }
}
