*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 200px;
  vertical-align: initial!important;
}

body{
  background-color: white!important;
  background-image: url(../img/mystical.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*Styling for Images underneath navbar*/
.scroll{
  width: 100vw;
  height: 10vh;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}

.scroll:before, .scroll:after{
  position: absolute;
  top: 0;
  width: 2rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.scroll:before{
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}

.scroll:after{
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}

.scroll-content{
  height: 100%;
  display: flex;
  align-items: center;
  animation: scrolling 10s linear infinite;
}

@keyframes scrolling{
  0% {transform: translateX(0);}
  100% {transform: translateX(-20vw);}
}

.scroll-content li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  padding: 2px;
}

.scroll-content li img{
  width: 60px;
  height: 90px;
  object-fit: cover;
}

/*Styling for main bits*/
.player, .time{
  font-family: 'Raleway', sans-serif;
}

.content{
  position: relative;
  min-width: 100%;
}

.title{
  font-size: 35px;
  font-family: 'Gugi', cursive, sans-serif;
  color: #e61312;
  text-shadow: -1px 2px 2px #0dec33;
}

.title span:nth-child(3){
  font-size: 25px;
}

article, .images{
  padding-bottom: 2.5rem;
}

nav.images{
  display: flex!important;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.greeting{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 10px;
  margin-top: 10vh;
}

.medium{
  margin: 20px;
  width: 210px;
  height: 210px;
}

.medium img{
  height: 200px;
  width: 210px;
  object-fit: fill;
  border: 3px solid #0a54b5eb;
}

.medium img:hover{
  box-shadow: 0px 0px 14px 8px #0378A6;

}

.logo img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-right: 30px;
  box-shadow: 10px 8px 15px 7px #0c0c0cf7;
}

.intro{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-left: -11px;
  color: white;
}

.information{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: -120px;
  color: #ffd9d9;
  text-shadow: 1px 2px 1px #000;
}

.wave img{
  width: 50px;
  filter: invert(1) drop-shadow(6px 4px 1px black);
 }

.welcoming{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.welcoming span{
  font-size: 16px;
  font-family: 'Exo', sans-serif;
}

figcaption{
  color: #024bd4!important;
  text-shadow: 1px 0px 12px black;
  background-color: #cbf9d0;
  text-align: center;
  font-size: 12px;
  font-family: 'Gugi', cursive, sans-serif;
}

/*Styling for Footer*/
footer {
  padding: 15px;
  margin-top: 50px;
  display: flex!important;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #101c1e;
}

.bottom li{
  list-style: none;
  padding: 5px;
}

.socials{
  margin-left: 20px;
}

.socials ul{
  display: flex;
}

.socials img{
  width: 40px;
}

.names{
  text-align: end;
  margin-right: 20px;
  font-family: 'Zen Dots', cursive, sans-serif;
}

.names a:hover{
  color: #D92A1A!important;
}

#left-side{
  display: flex!important;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*Navigation Bar Media Query*/

@media screen and (max-width: 500px) {
  .images img{
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  footer{
    justify-content: space-evenly;
  }

  .names{
    text-align: center;
  }

  .phone{
    display: contents;
  }
}

@media screen and (max-width: 500px) {
  .medium{
    width: 400px;
    height: auto;
    background-color: transparent;
  }
}

@media screen and (max-width: 465px) {
  .welcoming span{
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .logo img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 30px;
  }

  .title{
    font-size: 20px;
  }

  .title span:nth-child(3){
    font-size: 15px;
  }

  .information{
    margin-left: -80px;
  }
}

@media screen and (max-width: 400px) {
  .out-screen{
    height: 50vh;
  }

  .screen{
    height: 25vh;
  }
}

@media screen and (max-width: 300px) {
  .welcoming span{
    font-size: 3vw;
  }
}
