@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Raleway&display=swap');
/* font-family: 'Exo', sans-serif; */
/* font-family: 'Raleway', sans-serif; */


#title1 {
  margin-top: 35px;
  margin-bottom: 35px;
}

#title2 {
  margin-top: 35px;
  margin-bottom: 35px;
}

body {
  text-shadow: red;
  background-color: black!important;
}

.h2{
    font-family: 'Exo', sans-serif;
    font-weight: 500;
}

p, footer {
  margin: 20px;
  font-family: 'Exo', sans-serif;
}

li{
  line-height: 35px;
  font-size: 20px;
}
